@import "./Vars.scss";
@import "./Media.scss";

@charset "UTF-8";
::placeholder {
  color: #ffffff;
}

* {
  margin: 0px;
  border: 1px solid green;
}

body {
  font-family: $theme-font;
  background-color: #8F57FD;
}
